### Project ignores

## vgo - Ignore vendored packages
# You can optionally ignore the vendor directory. For true vendoring it is encouraged to add all needed source code to
# to your own repository.
# /vendor/
/vendor/**/.git

### Sublime files
*.sublime-project
*.sublime-workspace

### Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

### Folders
_obj
_test

### Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.test
*.prof
