### Project ignores


### Gapp ignores
# When revision locking ignoore the vendor dir
/vendor/
# If vendoring then at least ignore vendor/src/app
/vendor/src/app

### Sublime files
*.sublime-project
*.sublime-workspace

### Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

### Folders
_obj
_test

### Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof